# Application Environment
APP_ENV=dev

# Database Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DB_HOST=localhost

# JWT Configuration
JWT_SECRET_KEY=

# SMTP (optional - for real OTP emails)
# SMTP_HOST=
# SMTP_PORT=
# SMTP_USERNAME=
# SMTP_PASSWORD=
# SMTP_SENDER_EMAIL=
# SMTP_USE_TLS=true

# Resend Email API (for OTP)
RESEND_API_KEY=
RESEND_SENDER_EMAIL=

# Google OAuth (for Google SSO Login)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/v1/google/callback
